# Apply override to all files in the directory (source: https://github.com/github/linguist/blob/master/docs/overrides.md)
data/** linguist-vendored
transformato/toppar/** linguist-vendored
transformato/_version.py export-subst
